@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600&family=Unbounded:wght@200;300&family=Work+Sans:wght@900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Unbounded', sans-serif;
    overflow-x: hidden;
}

::selection {
    display: none;
}

.main {
    overflow-x: hidden;
}

.sidebar {
    width: 100%;
    height: 100vw;
    background: rgba(0, 0, 0, 0.5);
    transform: translateX(100%);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 99;
    transition: all 0.5s ease;
    overflow: hidden;
}



.openbar {
    transform: translateX(0%);
}


.sidebar .insidebar {
    width: 50%;
    height: 100vh;
    background: white;
    position: absolute;
    right: 0;
}

.head-tag {
    margin: 5vw 3vw;
    font-size: 4vw;
}

.close {
    font-size: 2rem;
    position: absolute;
    right: 4vw;
    top: 2vw;
    cursor: pointer;
}

.links h4 {
    margin: 3vw 5vw;
    font-size: 2vw;
    font-weight: 600;
    display: inline-block;
    padding: 2vw;
    transition: all 0.3s ease;
}

.links h4:hover {
    cursor: pointer;
    background: black;
    color: white;
}

.page1 {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(232, 237, 223);
    display: flex;
    padding: 0 6vw;
    align-items: center;
}

.nav {
    width: 100%;
    position: absolute;
    top: 0;
    padding: 1rem 6vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .logo h2 {
    font-size: 2.5rem;
    font-weight: 900;
}

.nav .menu i {
    font-size: 2rem;
    cursor: pointer;

}

.page1 .left {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5rem;
}

.page1 .left h1 {
    font-size: 13rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000000;

}

.page1 .left h2 {
    font-size: 5.5vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000000;
    line-height: 0;
    font-weight: 300;
    letter-spacing: 5px;
}

.page1 .right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.page1 .right .img {
    width: 500px;
    height: 500px;
}

.page1 .right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* page2  */

.page2 {
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    background-image: radial-gradient(rgb(0, 0, 0) 1px, transparent 1px), radial-gradient(rgb(0, 0, 0) 1px, rgb(255, 255, 255) 1px);
    background-position: 0 0, 30px 30px;
    background-size: 60px 60px;
}

.page2 .center {
    width: 60%;
}

.page2 .center h1 {
    margin-bottom: 4rem;
    font-weight: bold;

}

.page2 .center p {
    margin-bottom: 2rem;
}

/* page3  */

.page3 {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #242423;
    /* background: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    color: white;
}

.page3 .center-page3 {
    width: 70%;
    height: 80%;
    position: absolute;
    top: 0;
    display: flex;
}

.page3 .center-page3 .left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem;
}

.page3 .center-page3 .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
    filter: grayscale();

}

.page3 .center-page3 .right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem;
}

.page3 .center-page3 .right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
    filter: grayscale();
}

.page3 .center-page3 h2 {
    margin-block: 1rem;
}

.page3 .center-page3 p {
    font-size: 0.7rem;
    white-space: wrap;
    width: 60%;
    color: #F5CB5C;

}

/* page4 */
.page4 {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #242423;
    /* background: red; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.page4 .center-4 {
    width: 70%;
    /* height: auto; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    color: #F5CB5C;
    position: absolute;
}

.box {
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 2rem;
    font-size: 0.8rem;
    background: #313130;
}


.box .avatar {
    width: 80px;
    height: 80px;
}

.box .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.box .p4-content h3 {
    margin-block: 3rem;
}


/* Page5  */
.page5 {
    width: 100%;
    min-height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #242423;
}

.page5 .p5-center {
    width: 500px;
    height: 500px;
}

.page5 .p5-center img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* page6  */
.page6 {
    width: 100%;
    min-height: 100vh;
    background: #242423;
    color: whitesmoke;
}

.page6 .center-6 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.page6 h1 {
    margin-bottom: 5rem;
    font-size: 2.5rem;
    font-weight: bolder;
}

.page6 .row1 {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3rem;
    font-size: 0.8rem;
}

.page6 .row1 .elem h5 {
    padding-block: 1rem;
}

/* footer  */
footer {
    width: 100%;
    min-height: 50vh;
    background: #242423;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    top: 0;

}

.footer-center {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    font-size: 0.8rem;
    font-weight: 100;
}

.footer-center .icons i {
    padding: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}






@media (max-width:768px) {
    .page1 {
        width: 100%;
        height: 100vh;
        background-color: rgb(232, 237, 223);
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
    }


    .page1 .left {
        width: 100%;
        height: 100%;
        margin-bottom: 5rem;
    }

    .page1 .left h1 {
        font-size: 10rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #000000;

    }

    .page1 .left h2 {
        font-size: 5.5vw;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #000000;
        line-height: 0;
        font-weight: 300;
        letter-spacing: 5px;
    }

    .page1 .right {
        width: 400px;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .page1 .right .img {
        width: 300px;
        height: 300px;
        object-fit: cover;
    }

    /* page 2 */
    .page2 {
        padding: 0;
    }

    .page2 .center h1 {
        margin-bottom: 3rem;
        font-weight: bold;
        text-align: center;

    }

    .page2 .center p {
        margin-bottom: 2rem;
    }

    /* page3  */

    .page3 {
        position: relative;
        width: 100%;
        min-height: 100vh;
        background: #242423;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 3rem;
        color: white;
    }

    .page3 .center-page3 {
        width: 100%;
        height: 100%;
        position: relative;
        top: 0;
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }

    .page3 .center-page3 .left {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0.5rem;
    }

    .page3 .center-page3 .left img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50px;
        filter: grayscale();

    }

    .page3 .center-page3 .right {
        width: 100%;
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0rem;
    }

    .page3 .center-page3 .right img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .page3 .center-page3 h2 {
        margin-block: 1rem;
        text-align: center;
    }

    .page3 .center-page3 p {
        width: 100%;
        text-align: center;

    }

    /* page 4  */

    .page4 .center-4 {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        color: #F5CB5C;
        position: relative;
        top: 0;
        padding: 2rem;
    }

    /* Page5  */
    .page5 {
        width: 100%;
        min-height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #242423;
        position: relative;
        top: 0;
    }

    .page5 .p5-center {
        width: 90%;
        height: 90%;
    }


    .page5 .p5-center img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }




    /* page6  */
    .page6 {
        width: 100%;
        min-height: 100vh;
        background: #242423;
        color: whitesmoke;

    }

    .page6 h1 {
        text-align: center;
        margin: 2rem 0;
        font-size: 2rem;
        font-weight: bolder;
    }

    .page6 .row1 {
        width: 70%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        gap: 3rem;
        font-size: 0.8rem;
    }

    .page6 .row1 .elem h5 {
        padding-block: 1rem;
    }

    .footer-center {
        font-size: 0.7rem;
        font-weight: 100;
    }

    .footer-center .icons i {
        padding: 10px;
        font-size: 1.5rem;
    }


}